@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider />
<MudDialogProvider     
    Position="DialogPosition.Center"
    CloseButton="true"
    BackdropClick="false"/>
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Fixed="true" Elevation="10">
        <MudGrid>
            <MudItem xs="3" Class="d-flex justify-start">
                <MudText Class="cursor-pointer m-2" Typo="Typo.h5">Employee Management System</MudText>
            </MudItem>
            <MudItem xs="6" Class="d-flex justify-center">
                <MudText Class="m-3 cursor-pointer" Typo="Typo.body2" @onclick="@(_ => NavigateTo("employees"))"><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.People"/>Employees</MudText>
                <MudText Class="m-3 cursor-pointer" Typo="Typo.body2" @onclick="@(_ => NavigateTo("attendances"))"><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.Today"/>Calendar</MudText>
                <MudText Class="m-3 cursor-pointer" Typo="Typo.body2" @onclick="@(_ => NavigateTo("payrolls"))"><MudIcon Size="Size.Small" Icon="@Icons.Material.Filled.AccountBalance"/>Payrolls</MudText>
            </MudItem>
            <MudItem xs="3" Class="d-flex justify-end"/>
        </MudGrid>
    </MudAppBar>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="mt-10">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void NavigateTo(string url, bool forceLoad = false) => NavigationManager.NavigateTo(url, forceLoad);
}